.activities-section {
  text-align: center;
  padding: 40px 20px;
  background-color: #f0f0f0; /* Adjust the background color as needed */
}

.activities-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .activity-card {
    /* Adjust styles for smaller screens if needed, e.g., full width */
    max-width: 100%;
  }
}


.activity-card {
  width: 100%; /* Ensures card width is responsive */
  max-width: 300px; /* Prevents the card from exceeding 300px in width */
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 10px;
  background-color: #ffffff;
  margin: auto; /* Centers the card in its container */
  transition: transform 0.3s ease;
}

.activity-card:hover {
  transform: translateY(-5px); /* Lift effect on hover */
}

.activity-image {
  max-width: 100%; /* Ensures the image is never wider than its container */
  height: auto; /* Maintains the aspect ratio of the image */
  border-radius: 5px; /* Optionally rounds the corners of the image */
  margin-bottom: 15px;
}

